apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-hswcehoh
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-hswcehoh:94dc302fea7df6fb1eb6cd83f0981566da3cdfcb@sha256:13af5675ba3267da4b17661cc6ed678c9c8642a6a009664bbba6d7d288cb7aa2
        name: container-image  
